.worksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #058737;
  font-size: 45px;
  font-weight: 800;
}

h2 {
  color: black;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 5px;
}

p {
  font-size: 25px;
  font-weight: 500;
}

.box {
  background-color: #058737;
  margin-top: 10px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxText {
  width: 70vw;
}

.worksVideo {
  height: 60vh;
  width: 80vw;
}

.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.registerNowButton {
  background: #058737;
  border-radius: 10px;
  height: 15vh;
  width: 50vw;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
  justify-content: center;
  display: flex;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 992px) {
  .registerNowTitle {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }
}