body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headerWraper {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2vh;
  margin-right: 2vh;
}

.links {
  display: flex;
  flex-direction: row;
  width: 30vw;
}

.linkText {
  color: white;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.linkText:hover {
  text-decoration: underline;
}

.logo {
  width: 50vw;
}

.logoImage {
  width: 35vw;
  height: auto;
}

.registerNow {
  display: flex;
  align-items: center;
}

.register {
  background-color: #058737;
  border-radius: 10px;
  align-items: center;
  height: 8vh;
  width: 15vw;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  justify-content: center;
  display: flex;
  color: white;
}

.register:hover {
  background-color: #195330;
}

@media screen and (max-width: 992px) {
  .links {
    display: none;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logoImage {
    height: 5vh;
    width: 54vw;
  }
  .register {
    height: 8vh;
    width: 35vw;
  }
}
